<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Iteration over objects with the help of thymeleaf(Dynamic data getting)</title>
</head>

<body>
	<div class="container">
		<div class="row">


			<div class="col-md-6">

				<table>

					<thead>
						<tr>

							<th>Employee first name</th>
							<th>Employee last name</th>
							<th>emial</th>

						</tr>
					</thead>
					<tbody>

						<tr th:each="employee:${employees}">
							<td th:text="${employee.firstName}"></td>
							<td th:text="${employee.lastName}"></td>
							<td th:text="${employee.email}"></td>


						</tr>


						<tr th:each="employee:${employees}" th:style="${employeeStat.odd}? 'font-weight:bold;'"
							th:alt-title="${employeeStat.even}? 'even':'odd'">
							<td th:text="${employee.firstName}"></td>
							<td th:text="${employee.lastName}"></td>
							<td th:text="${employee.email}"></td>


						</tr>


					</tbody>


				</table>



			</div>
		</div>


	</div>

</body>

</html>